/* style.css */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    border: none;
    color: white;
    background-color: #F27BBD;
    margin-top: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
